.section_div {
  height: 600px;
  margin-top: 160px;
}
.bg_div {
  width: 100%;
  position: absolute;
  top: 95px;
}
.iphone_icon {
  width: 332px;
  height: 606px;
  resize: both;
  position: absolute;
  left: 116px;
  top: 64px;
  z-index: 10;
}
.pizza_icon {
  position: absolute;
  top: 0px;
  right: 102px;
  width: 228px;
  height: 189px;
}
.iphone_left_icon {
  position: absolute;
  top: 116px;
  left: 68px;
  width: 9px;
  height: 23px;
}
.iphone_right_icon {
  position: absolute;
  top: 60px;
  left: 450px;
  width: 9px;
  height: 23px;
}
.ice_cream_cone_icon {
  width: 160px;
  position: absolute;
  right: -40px;
  bottom: 15px;
}
.ellipse1_icon {
  width: 164px;
  height: 164px;
  position: absolute;
  left: 31px;
  top: 240px;
}
.ellipse2_icon {
  width: 236px;
  height: 236px;
  position: absolute;
  left: 461px;
  bottom: 65px;
}
.ellipse3_icon {
  width: 122px;
  height: 122px;
  position: absolute;
  left: 853px;
  top: 151px;
}
.ellipse4_icon {
  width: 122px;
  height: 122px;
  position: absolute;
  left: 1020px;
  bottom: 75px;
}
.ellipse5_icon {
  width: 194px;
  height: 194px;
  position: absolute;
  right: 22px;
  top: 160px;
}
.download_heading_div {
  position: absolute;
  top: 244px;
  left: 448px;
  z-index: 10;
}
.download_heading {
  font-family: "GilroyBold";
  font-size: 57px;
  line-height: 66.8px;
}
.store_icon_div {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.google_play_btn,
.app_store_btn {
  height: 90px;
  resize: both;
  cursor: pointer;
}
@media screen and (max-width: 1440px) {
  .section_div {
    height: 525px;
    margin-top: 80px;
  }
  .bg_div {
    width: 100%;
    position: absolute;
    top: 95px;
  }
  .iphone_icon {
    width: 261px;
    height: 476px;
    resize: both;
    position: absolute;
    left: 116px;
    top: 64px;
    z-index: 10;
  }
  .pizza_icon {
    position: absolute;
    top: 20px;
    right: 60px;
    width: 180px;
    height: 149px;
    resize: both;
    z-index: 10;
  }
  .iphone_left_icon {
    position: absolute;
    top: 105px;
    left: 90px;
    width: 9px;
    height: 20px;
  }
  .iphone_right_icon {
    position: absolute;
    top: 60px;
    left: 380px;
    width: 9px;
    height: 20px;
  }
  .ice_cream_cone_icon {
    width: 126px;
    position: absolute;
    right: -35px;
    bottom: 25px;
  }
  .ellipse1_icon {
    width: 129px;
    height: 129px;
    position: absolute;
    left: 31px;
    top: 200px;
  }
  .ellipse2_icon {
    width: 185px;
    height: 185px;
    position: absolute;
    left: 360px;
    bottom: 70px;
  }
  .ellipse3_icon {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 705px;
    top: 145px;
  }
  .ellipse4_icon {
    width: 96px;
    height: 96px;
    position: absolute;
    left: 930px;
    bottom: 85px;
  }
  .ellipse5_icon {
    width: 153px;
    height: 153px;
    position: absolute;
    right: 22px;
    top: 145px;
  }
  .download_heading_div {
    position: absolute;
    top: 200px;
    left: 390px;
    z-index: 10;
  }
  .download_heading {
    font-family: "GilroyBold";
    font-size: 42px;
    line-height: 66.8px;
  }
  .store_icon_div {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .google_play_btn,
  .app_store_btn {
    height: 90px;
    resize: both;
  }
}
@media screen and (max-width: 1024px) {
  .section_div {
    height: 440px;
    margin-top: 50px;
  }
  .bg_div {
    width: 100%;
    position: absolute;
    top: 95px;
  }
  .iphone_icon {
    width: 206px;
    height: 376px;
    resize: both;
    position: absolute;
    left: 70px;
    top: 80px;
    z-index: 10;
  }
  .pizza_icon {
    position: absolute;
    top: 35px;
    right: 30px;
    width: 142px;
    height: 118px;
    resize: both;
    z-index: 10;
  }
  .iphone_left_icon {
    position: absolute;
    top: 110px;
    left: 60px;
    width: 9px;
    height: 20px;
  }
  .iphone_right_icon {
    position: absolute;
    top: 80px;
    left: 270px;
    width: 9px;
    height: 20px;
  }
  .ice_cream_cone_icon {
    width: 126px;
    position: absolute;
    right: -35px;
    bottom: 25px;
  }
  .ellipse1_icon {
    width: 102px;
    height: 102px;
    position: absolute;
    left: 25px;
    top: 180px;
  }
  .ellipse2_icon {
    width: 146px;
    height: 146px;
    position: absolute;
    left: 270px;
    bottom: 65px;
  }
  .ellipse3_icon {
    width: 76px;
    height: 76px;
    position: absolute;
    left: 565px;
    top: 130px;
  }
  .ellipse4_icon {
    width: 76px;
    height: 76px;
    position: absolute;
    left: 730px;
    bottom: 75px;
  }
  .ellipse5_icon {
    width: 121px;
    height: 121px;
    position: absolute;
    right: 22px;
    top: 130px;
  }
  .download_heading_div {
    position: absolute;
    top: 180px;
    left: 280px;
    z-index: 10;
  }
  .download_heading {
    font-family: "GilroyBold";
    font-size: 36px;
    line-height: 66.8px;
  }
  .store_icon_div {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .google_play_btn,
  .app_store_btn {
    height: 70px;
    resize: both;
  }
}
@media screen and (max-width: 768px) {
  .section_div {
    height: 345px;
    margin-top: 20px;
  }
  .bg_div {
    width: 100%;
    position: absolute;
    top: 95px;
  }
  .iphone_icon {
    width: 164px;
    height: 299px;
    resize: both;
    position: absolute;
    left: 50px;
    top: 60px;
    z-index: 10;
  }
  .pizza_icon {
    position: absolute;
    top: 40px;
    right: 25px;
    width: 113px;
    height: 94px;
    resize: both;
    z-index: 10;
  }
  .iphone_left_icon {
    position: absolute;
    top: 85px;
    left: 35px;
    width: 9px;
    height: 20px;
  }
  .iphone_right_icon {
    position: absolute;
    top: 55px;
    left: 220px;
    width: 9px;
    height: 20px;
  }
  .ice_cream_cone_icon {
    width: 99px;
    position: absolute;
    right: -35px;
    bottom: 15px;
  }
  .ellipse1_icon {
    width: 81px;
    height: 81px;
    position: absolute;
    left: 15px;
    top: 160px;
  }
  .ellipse2_icon {
    width: 116px;
    height: 116px;
    position: absolute;
    left: 200px;
    bottom: 40px;
  }
  .ellipse3_icon {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 425px;
    top: 115px;
  }
  .ellipse4_icon {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 530px;
    bottom: 40px;
  }
  .ellipse5_icon {
    width: 96px;
    height: 96px;
    position: absolute;
    right: 15px;
    top: 110px;
  }
  .download_heading_div {
    position: absolute;
    top: 135px;
    left: 220px;
    z-index: 10;
  }
  .download_heading {
    font-family: "GilroyBold";
    font-size: 26px;
    line-height: 66.8px;
  }
  .store_icon_div {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .google_play_btn,
  .app_store_btn {
    height: 50px;
    resize: both;
  }
}
@media screen and (max-width: 426px) {
  .section_div {
    height: 150px;
    margin-top: 20px;
  }
  .bg_div {
    width: 100%;
    position: absolute;
    top: 25px;
  }
  .iphone_icon {
    width: 90px;
    height: 135px;
    resize: both;
    position: absolute;
    left: 25px;
    top: 20px;
    z-index: 10;
  }
  .pizza_icon {
    position: absolute;
    top: 0px;
    right: 29px;
    width: 57px;
    height: 47px;
    resize: both;
    z-index: 10;
  }
  .iphone_left_icon {
    position: absolute;
    top: 30px;
    left: 25px;
    width: 3px;
    height: 7px;
  }
  .iphone_right_icon {
    position: absolute;
    top: 20px;
    left: 110px;
    width: 3px;
    height: 7px;
  }
  .ice_cream_cone_icon {
    width: 50px;
    position: absolute;
    right: -15px;
    bottom: 5px;
  }
  .ellipse1_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 10px;
    top: 55px;
  }
  .ellipse2_icon {
    width: 56px;
    height: 56px;
    position: absolute;
    left: 110px;
    bottom: 20px;
  }
  .ellipse3_icon {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 200px;
    top: 37px;
  }
  .ellipse4_icon {
    width: 34px;
    height: 34px;
    position: absolute;
    left: 255px;
    bottom: 20px;
  }
  .ellipse5_icon {
    width: 48px;
    height: 48px;
    position: absolute;
    right: 5px;
    top: 40px;
  }
  .download_heading_div {
    position: absolute;
    top: 50px;
    left: 110px;
    z-index: 10;
  }
  .download_heading {
    font-family: "GilroyBold";
    font-size: 12px;
    line-height: 30px;
  }
  .store_icon_div {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .google_play_btn,
  .app_store_btn {
    height: 24px;
    resize: both;
  }
}
@media screen and (max-width: 376px) {
  .section_div {
    height: 120px;
    margin-top: 20px;
  }
  .bg_div {
    width: 100%;
    position: absolute;
    top: 15px;
  }
  .iphone_icon {
    width: 60px;
    height: 105px;
    resize: both;
    position: absolute;
    left: 20px;
    top: 16px;
    z-index: 10;
  }
  .pizza_icon {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 36px;
    height: 30px;
    resize: both;
    z-index: 10;
  }
  .iphone_left_icon {
    position: absolute;
    top: 25px;
    left: 17px;
    width: 2px;
    height: 5px;
  }
  .iphone_right_icon {
    position: absolute;
    top: 15px;
    left: 80px;
    width: 2px;
    height: 5px;
  }
  .ice_cream_cone_icon {
    width: 36px;
    position: absolute;
    right: -10px;
    bottom: 5px;
  }
  .ellipse1_icon {
    width: 29px;
    height: 29px;
    position: absolute;
    left: 5px;
    top: 40px;
  }
  .ellipse2_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 78px;
    bottom: 16px;
  }
  .ellipse3_icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 178px;
    top: 26px;
  }
  .ellipse4_icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 228px;
    bottom: 18px;
  }
  .ellipse5_icon {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 5px;
    top: 25px;
  }
  .download_heading_div {
    position: absolute;
    top: 38px;
    left: 82px;
    z-index: 10;
  }
  .download_heading {
    font-family: "GilroyBold";
    font-size: 12px;
    line-height: 30px;
  }
  .store_icon_div {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .google_play_btn,
  .app_store_btn {
    height: 24px;
    resize: both;
  }
}
@media screen and (max-width: 320px) {
  .section_div {
    height: 100px;
    margin-top: 20px;
  }
  .bg_div {
    width: 100%;
    position: absolute;
    top: 12px;
  }
  .iphone_icon {
    width: 46px;
    height: 86px;
    resize: both;
    position: absolute;
    left: 16px;
    top: 13px;
    z-index: 10;
  }
  .pizza_icon {
    position: absolute;
    top: 0px;
    right: 20px;
    width: 28px;
    height: 24px;
    resize: both;
    z-index: 10;
  }
  .iphone_left_icon {
    position: absolute;
    top: 20px;
    left: 12px;
    width: 2px;
    height: 5px;
  }
  .iphone_right_icon {
    position: absolute;
    top: 10px;
    left: 62px;
    width: 2px;
    height: 5px;
  }
  .ice_cream_cone_icon {
    width: 26px;
    position: absolute;
    right: -7px;
    bottom: 7px;
  }
  .ellipse1_icon {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 5px;
    top: 35px;
  }
  .ellipse2_icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 62px;
    bottom: 16px;
  }
  .ellipse3_icon {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 150px;
    top: 20px;
  }
  .ellipse4_icon {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 184px;
    bottom: 17px;
  }
  .ellipse5_icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 4px;
    top: 20px;
  }
  .download_heading_div {
    position: absolute;
    top: 28px;
    left: 65px;
    z-index: 10;
  }
  .download_heading {
    font-family: "GilroyBold";
    font-size: 10px;
    line-height: 24px;
  }
  .store_icon_div {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .google_play_btn,
  .app_store_btn {
    height: 18px;
    resize: both;
  }
}
