.header_main {
  padding: 0 40px;
}
.header {
  padding: 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 110px;
  height: 89px;
  resize: both;
}

.nav_links_div {
  width: 470px;
  height: 27px;
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.active_nav_link {
  font-family: "GilroySemiBold" !important;
  font-size: 16px;
  line-height: 18.75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active_nav_link_line {
  width: 32px;
  height: 3.2px;
  margin-top: 7px;
  background-color: #ff9e2c;
  border-radius: 20px;
}

.nav_link {
  font-family: "GilroyMedium";
  cursor: pointer;
  font-size: 16px;
  line-height: 18.75px;
}

.login_signup_div {
  display: flex;
  flex-direction: row;
}

.signup_btn {
  display: flex;
  flex-direction: row;
  margin-right: 16px;
  cursor: pointer;
}

.user_icon {
  width: 20px;
  height: 20px;
  resize: both;
}

.signup_text {
  font-family: "GilroyMedium";
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 10px;
}

.login_signup_divider {
  width: 0.8px;
  background-color: #1f1f1f80;
}

.login_btn {
  font-family: "GilroyMedium";
  font-size: 16px;
  line-height: 18.75px;
  margin-left: 13px;
  cursor: pointer;
}

.mobile_header {
  display: none;
}

.mobile_header_content_hidden {
  display: none;
}

.mobile_header_content_visible {
  display: block;
}

@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .header_main {
    padding: 0 20px;
  }
  .mobile_header {
    display: block;
    width: 100%;
    padding: 15px 0px;
  }
  .mobile_logo_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .mobile_logo {
    height: 70px;
    resize: both;
  }
  .mobile_open_drawer {
    height: 50px;
    resize: both;
  }
  .mobile_nav_links_div {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .active_nav_link {
    margin-bottom: 10px;
  }
  .nav_link,
  .signup_btn,
  .login_btn {
    padding: 10px 0px;
    margin: 0;
  }
  .mobile_login_signup_div {
    margin-top: 5px;
    padding-top: 5px;
    border-top: 0.8px solid #1f1f1f80;
  }
}
